<p><%= @event.name %></p>

<% @event.responses.each do |response| %>
  <p>Option: <%= response.description %></p>
  <p>Spend Capital: <%= response.capital_effect %></p>
  <p>Resource Use: <%= response.resources_effect %></p>
  <%= link_to 'Choose', edit_response_nation_path(response, @nation), remote: true %>
<% end %>
