<h2><%= @nation.year %></h2>
<h4>Population: <%= @nation.population %></h4>
<h4>Resources: <%= @nation.resources %></h4>
<h4>Stability: <%= @nation.stability * 100 %>%</h4>
<h4>GDP: $<%= @nation.capital %> Billion</h4>
