<h3><%= @nation.year %></h3>
<p>Population: <%= @nation.population %></p>
<p>Resources: <%= @nation.resources %></p>
<p>Stability: <%= @nation.stability * 100 %>%</p>
<p>Captial: <%= @nation.capital %></p>
