<h1>Nation Created</h1>

<h3><%= @nation.name %></h3>
<p><%= @nation.government %></p>
<p><%= @nation.economy %></p>
<p><%= @nation.geography %></p>
<p><%= @nation.population %></p>
<p><%= @nation.resources %></p>
<p><%= @nation.stability %></p>
<p><%= @nation.capital %></p>
