<h1><%= @nation.name %></h1>
<h3><%= @nation.government %></h3>
<h3><%= @nation.economy %></h3>
<h3><%= @nation.geography %></h3>

<div class="stats">
  <%= render "stats" %>
</div>

<div class="winstate">
  <%= render 'winstate' %>
</div>

<% if !@game_status %>
  <div id="event">
    <%= link_to "Next Event", :event => true, :remote => true %>
  </div>
<% end %>

<div class="event">

</div>
